<div class="container mt-2">
    <div class="col-sm-4 col-lg-10 mx-auto">
        <form>
            <div class="form-group">
                <label for="name">Code</label>
                <input type="text" class="form-control my-2" id="code" name="code" value="{{product.code}}"
                    placeholder="{{product.code}}" required>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control my-2" id="name" name="name" value="{{product.name}}"
                    placeholder="{{product.name}}" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control my-2" id="price" name="price" value="{{product.price}}"
                    placeholder="{{product.price}}" required>
            </div>
            <label for="image">Image</label>
            <div class="form-group">
                <img class="my-2" src="{{product.image}}" alt="Lỗi hiển thị" width="100px" height="100px" />
                <input type="file" class="form-control my-2" id="image" name="image" required>
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input type="text" class="form-control my-2" id="color" name="color" value="{{product.color}}"
                    placeholder="{{product.color}}" required>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control my-2" id="type" name="type" value="{{product.type}}"
                    placeholder="{{product.type}}" required>
            </div>
        </form>
        <button type="submit" class="btn btn-primary my-2">Update</button>
    </div>
</div>