<div class="container-fluid home">
    <div>
        <p class="a"><a href="#">SẢN PHẨM NỔI BẬT</a></p>
    </div>
    <div class="row">
        <div class="row d-flex justify-content-around">
            {{#each products}}
            <div class="card align-items-center col-5 col-md-4 col-lg-3 my-3" style="width: 18rem;">
                <img src="{{this.image}}" class="card-img-top" alt="Lỗi" style="width: 240px;height: 270px;">
                <div class="card-body">
                    <div class="type-product">
                        <span class="text-type-product">{{this.type}}</span>
                    </div>
                    <span class="sold-product">Đã bán: {{this.sold}}</span>
                    <h5 class="card-title">{{this.name}}</h5>
                    <div class="info-product">
                        <p style="padding-top: 5px;font-weight: bold;color: red;" class="card-text">{{this.price}}</p>
                        <p class="card-text">{{this.describe}}</p>
                    </div>
                </div>
                <button type="button" class="btn btn-success"><i class="fa-sharp fa-solid fa-cart-circle-plus" style="color: #ffffff;"></i>Thêm vào giỏ hàng</button>
            </div>
            {{/each}}
        </div>
    </div>
</div>